---
layout: main
---
				<!-- Header -->
                {% include header.html %}

				<!-- Menu -->
                {% include menu.html %}

				<!-- Wrapper -->
				<section id="wrapper">
					<header>
						<div class="inner">
							<h2>{{ page.title }}</h2>
							<p>{{ page.subtitle }}</p>
						</div>
					</header>
				
					<!-- Content -->
						<div class="wrapper">
							<div class="inner">

								{{ content }}

								{% include pager.html %}
							</div>
						</div>
				
				</section>

				{% include footer-mini.html %}